.page-header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}
.page-bt:hover {cursor: pointer;}
.page-bt {
    width: 100%;
    outline: none;
    border: none;
    font-size: large;
}

.modal {
    width: 500px;
    height: 260px;
    background-color: rgb(202, 88, 88);
}

.modal header {
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    background-color: rgb(206, 59, 59);
}

.modal-alt {
    background-color: rgb(83, 100, 172);
}

.modal-alt header {
    background-color: rgb(55, 65, 158);
}

.modal-title {
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
}

.cross {
    display: block;
    right: 4%;
    position: absolute;
    color: #fff;
    font-size: 34px;
}

.modal-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding: 15px 30px 0;
}

.modal-bt-container {
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: flex-end;
}

.modal-bt {
    display: block;
    border: none;
    outline: none;
    margin: 0 5px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: rgb(107, 23, 23);
}

.modal-bt-alt {
    background-color: rgb(88, 35, 99);
}
